---
import { Image } from "astro:assets";
import Image1874 from "../../assets/history_assets/1874.svg";
import Image1896 from "../../assets/history_assets/1896.svg";
import Image1926 from "../../assets/history_assets/1926-1986.svg"
import Image2000 from "../../assets/history_assets/2000.svg"
import Image2024 from "../../assets/history_assets/2024.svg"
import Meiji from "../../assets/history_assets/Meiji.svg";
import MeijiImage from "../../assets/history_assets/meiji_image.webp";
import Showa from "../../assets/history_assets/Showa.svg"
import ShowaImage from "../../assets/history_assets/showa_image.webp"
import Heisei from "../../assets/history_assets/Heisei.svg"
import HeiseiImage from "../../assets/history_assets/heisei_image.webp"
import Reiwa from "../../assets/history_assets/Reiwa.svg"
import BreadImage from "../../assets/history_assets/bread_image.webp"
import Title from "../component/Title.astro";
import "../../styles/global.css";
---

<div class="sm:flex justify-center hidden sm:px-52 p-5">
  <div class="flex flex-col items-center container">
    <Title subtitle="THE HISTORY" title="ぱん食い競走の歴史" />

    <article class="flex justify-center">
      <div class="flex flex-1 flex-col items-end justify-center">
        <Image src={Meiji} alt="明治" class="relative right-28 top-10"/>
        <Image src={MeijiImage} alt="明治のぱん食い競走の風景" class=""/>
      </div>
      <div>
        <Image src={Image1874} alt="1874" class="h-auto" />
      </div>
      <div class="flex flex-1 items-center pb-10 text-base">
        <p class="max-w-[380px] font-extralight">
          東京築地の海軍兵学校で「競闘遊戯会」が開催。このイベントで木村屋總本店の「あんぱん」が競技に使用された説があり、これがぱん食い競走のルーツとされる。
        </p>
      </div>
    </article>

    <article class="flex justify-center">
      <div class="flex flex-1 items-center justify-start text-base">
        <p class="relative bottom-24 left-10 font-extralight max-w-[380px]">
          北海道札幌農学校（現・北海道大学）で「食菓競争」としてぱん食い競走が行われる。木村屋總本店のあんぱんが使われていたと伝えられ、これも起源の一つに位置付けられる。
        </p>
      </div>
      <div class="flex flex-1 flex-col items-center z-10">
        <Image src={Image1896} alt="1896" class="h-auto" />
        <Image src={Image1926} alt="1926" class="h-auto" />
      </div>
      <div class="flex flex-1 flex-col justify-end">
        <Image src={ShowaImage} alt="昭和のパン食い競争の風景" class="relative bottom-24"/>
        <div class="flex flex-col relative bottom-28 right-28">
          <Image src={Showa} alt="昭和" class="pl-2 pb-4"/>
          <p class="text-base font-extralight max-w-[380px]">
            戦後、学校行事や地域イベントとして広まり、定番競技に。木村屋のあんぱんは庶民に親しまれ、ぱん食い競走の代表的な競技アイテムとなった。
          </p>
        </div>
      </div>
    </article>

    <article class="flex justify-center"> 
      <div class="flex flex-1 flex-col items-end relative bottom-14">
        <div class="flex flex-col items-start">
          <Image src={Heisei} alt="平成" class=""/>
          <p class="max-w-[380px] text-base font-extralight">
            アレルギーや衛生面の観点から包装済みパンの使用が増加し、地域や学校で独自のパンが用意されるケースも増える。
          </p>
        </div>
      </div>
      <div>
        <Image src={Image2000} alt="2000" class="h-auto relative bottom-12" />
      </div>
      <div class="flex flex-1 justify-end">
        <Image src={HeiseiImage} alt="平成のパン食い競争の風景" />
      </div>
    </article>

    <article class="flex justify-center">
      <div class="flex flex-1 items-start text-base">
        <p class="max-w-[380px] font-extralight relative right-10">
          木村屋總本店と元陸上400mハードルの為末大が出会い、ぱん食い競走の普及と健全な体力づくりの推進を目的に「ぱん食い競走協会」を設立。協会ではパンの種類や安全基準の見直し、イベントの全国展開を図る新たな取り組みが始まる。
        </p>
      </div>
      <div class="relative bottom-24">
        <Image src={Image2024} alt="2024" class="h-auto" />
      </div>
      <div class="flex flex-1 justify-end items-end z-10 relative bottom-9">
        <Image src={Reiwa} alt="令和" class=""/>
      </div>
    </article>

    <article class="w-full flex justify-center mb-16">
      <Image src={BreadImage} alt="写真" class="h-auto relative bottom-24" />
    </article>
  </div>

</div>