---
import { Image } from "astro:assets";
import logo_white from "../../assets/kv/logo_white.svg"
import MainHeader from "../layout/MainHeader.astro";
import boy from "../../assets/kv/boy_run.webp"
import Title from "../component/Title.astro";
import point1 from "../../assets/points/point1.webp"
import point2 from "../../assets/points/point2.webp"
import point3 from "../../assets/points/point3.webp"
---

<section class="w-full">
  <div class="flex flex-col justify-center items-center bg-main-bg bg-cover bg-center w-full h-auto py-32">
    <MainHeader />
    <div class="flex flex-col items-center">
      <Image src={logo_white} alt="logo" width="270" height="270"/>
      <h1 class="text-center text-5xl font-bold text-white tracking-widest">
        <span class="text-2xl">一般社団法人<br></span>
        <span class="text-4xl">ぱん食い競走協会<br></span>
        <span class="text-lg relative bottom-4">（設立準備中）</span>
      </h1>
    </div>
  </div>
</section>

<section class="flex flex-col sm:flex-row justify-center items-center sm:p-20 p-5 bg-brown-900 sm:gap-20 gap-10">
  <div class="flex flex-col gap-4 sm:w-1/2 w-full">
    <h1 class="text-4xl font-bold text-white">おいしいスポーツで<br>世界が広がる。</h1>
    <h3 class="text-2xl font-normal text-white border-b-2 border-white pb-4">Tasty Sports, Broadening Your World.</h3>
    <p class="text-sm text-white">ぱん食い競走協会は、スポーツパンシップに則り、楽しいパン食い競走文化を広め、
      幸福を世界に広げ、パンを通じて世界と繋がり、世界平和を実現するために設立する。</p>
  </div>
  <div class="sm:w-1/2 w-full">
    <Image src={boy} alt="boy" width="480" height="300" class="w-full sm:w-auto"/>
  </div>
</section>

<section class="flex flex-col items-center sm:p-20 p-5">
  <Title subtitle="THE RULE" title="ぱん食い競走のルール" />
  <article class="flex flex-col sm:flex-row items-center justify-center sm:gap-20 gap-10 sm:p-20 p-5">
    <div class="sm:w-1/3 w-full gap-10 sm:gap-0">
      <Image src={point1} alt="point1" width="300" height="300" class="mb-8 w-full"/>
      <p class="text-center text-xl sm:text-base">30mのコースの中央15ｍ地点に設置されたぱん食い棒に競技用パンが吊されます。</p>
    </div>
    <div class="sm:w-1/3 w-full gap-10 sm:gap-0">
      <Image src={point2} alt="point2" width="300" height="300" class="mb-8 w-full"/>
      <p class="text-center text-xl sm:text-base">競技者は、中央のぱん食い棒まで走っていき、口のみを使ってパンを掴みます。</p>
    </div>
    <div class="sm:w-1/3 w-full gap-10 sm:gap-0">
      <Image src={point3} alt="point3" width="300" height="300" class="mb-8 w-full"/>
      <p class="text-center text-xl sm:text-base">ぱんをくわえてゴールまで落とさないよう走り抜け、ゴールした時のタイムを競います。</p>
    </div>
  </article>
</section>