---
import Title from "../component/Title.astro";
import { getPartnerContents } from "../../lib/microcms";
import { Image } from "astro:assets";
const res = await getPartnerContents();
---
<div>
  <section class="flex flex-col items-center justify-center sm:px-0 px-5">
    <Title subtitle="PARTNERSHIP" title="パートナーシップ" />
    <article class="flex flex-col items-center justify-center gap-12">
      {res.contents.filter((content: any) => content.type === "ゴールド").length > 0 && (
      <div class="flex flex-col items-center justify-center w-full gap-10">
        <h1 class="text-2xl font-medium ">ゴールドパートナー</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-10 w-full justify-center sm:justify-between items-start">
          {res.contents.filter((content: any) => content.type === "ゴールド").map((content: any) => (
            <div class="flex flex-col items-center justify-end w-[328px] h-[124px] gap-1">
              <div class="w-[328px] h-[100px] flex items-center justify-center">
                <Image src={content.logo.url} alt="寄付の取り組み" width="328" height="100" fit="contain"/>
              </div>
              <p>{content.company}</p>
            </div>
          ))}
        </div>
      </div>
      )}
      {res.contents.filter((content: any) => content.type === "シルバー").length > 0 && (
      <div class="flex flex-col items-center justify-center w-full gap-10">
        <h1 class="text-2xl font-medium">シルバーパートナー</h1>
        <div class="sm:grid sm:grid-cols-3 flex flex-col items-center justify-center gap-8 w-full sm:justify-between">
          {res.contents.filter((content: any) => content.type === "シルバー").map((content: any) => (
            <div class="flex flex-col items-center justify-end w-[180px] h-[168px] gap-1">
              <div class="sm:w-[180px] sm:h-[149px] w-[140px] h-[100px] flex items-center justify-center">
                <Image src={content.logo.url} alt="寄付の取り組み" width="180" height="149" fit="contain" />
              </div>
              <p>{content.company}</p>
            </div>
          ))}
          </div>
        </div>
      )}
      {res.contents.filter((content: any) => content.type === "ブロンズ").length > 0 && (
      <div class="flex flex-col items-center justify-center w-full gap-10">
        <h1 class="text-2xl font-medium">ブロンズパートナー</h1>
        <div class="grid sm:grid-cols-4 grid-cols-2 gap-4 w-full justify-center sm:justify-between">
          {res.contents.filter((content: any) => content.type === "ブロンズ").map((content: any) => (
            <div class="flex flex-col items-center justify-end">
              <div class="w-[140px] h-[140px] flex items-center justify-center">
              <Image src={content.logo.url + "?fit=clip&w=140"} alt="寄付の取り組み" width="140" height="140" />
              </div>
              <p>{content.company}</p>
            </div>
          ))}
        </div>
      </div>
      )}
    </article>
  </section>
</div>
