---
import { Image } from "astro:assets";
import Image1874 from "../assets/history_assets/1874.svg";
import Image1896 from "../assets/history_assets/1896.svg";
import Image1926 from "../assets/history_assets/1926-1986.svg"
import Image2000 from "../assets/history_assets/2000.svg"
import Image2024 from "../assets/history_assets/2024.svg"
import Meiji from "../assets/history_assets/Meiji.svg";
import MeijiImage from "../assets/history_assets/MeijiImage.svg";
import Showa from "../assets/history_assets/Showa.svg"
import ShowaImage from "../assets/history_assets/ShowaImage.svg"
import Heisei from "../assets/history_assets/Heisei.svg"
import HeiseiImage from "../assets/history_assets/HeiseiImage.svg"
import Reiwa from "../assets/history_assets/Reiwa.svg"
import Photo from "../assets/history_assets/Photo.svg"
import Title from "./Title.astro";
import "../styles/global.css";
---

  <div class="flex flex-col items-center justify-center w-820">
    <Title subtitle="THE HISTORY" title="パン食い競争の歴史" />
    <article class="flex w-full items-strech justify-center relative">
      <div class="w-1/4 relative top-10">
        <Image src={Meiji} alt="明治" class="w-100% relative top-0 z-10"/>
        <Image src={MeijiImage} alt="明治のパン食い競争の風景" class="w-100% relative bottom-10 left-10 z-0"/>
      </div>
      <div class="">
        <Image src={Image1874} alt="1874" class="w-100% h-auto" />
      </div>
      <div class="w-1/4 max-w-[380px] text-base leading-relaxed relative top-24 left-2">
        <p>
          東京築地の海軍兵学校で「競闘遊戯会」が開催。このイベントで木村屋總本店の「あんぱん」が競技に使用された説があり、これがパン食い競走のルーツとされる。
        </p>
      </div>
    </article>
    <article class="flex w-full h-250 justify-center relative">
      <div class="w-1/4 max-w-[380px] h-auto text-base leading-relaxed relative top-24 left-2">
        <p>
          北海道札幌農学校（現・北海道大学）で「食菓競争」としてパン食い競走が行われる。木村屋總本店のあんぱんが使われていたと伝えられ、これも起源の一つに位置付けられる。
        </p>
      </div>
      <div class="flex flex-col items-center z-20">
        <Image src={Image1896} alt="1896" class="w-100 h-auto" />
        <Image src={Image1926} alt="1926" class="w-100 h-auto" />
      </div>
      <div class="w-1/4 relative top-10">
        <Image src={ShowaImage} alt="昭和のパン食い競争の風景" class="w-260 relative bottom-32 left-10 z-0"/>
        <Image src={Showa} alt="昭和" class="w-260 relative bottom-40 right-14 z-10"/>
        <p class="max-w-[380px] text-base leading-relaxed relative bottom-36 right-14">
          戦後、学校行事や地域イベントとして広まり、定番競技に。木村屋のあんぱんは庶民に親しまれ、パン食い競走の代表的な競技アイテムとなった。
        </p>
      </div>
    </article>
    <article class="flex w-full items-strech justify-center relative">
      <div class="w-1/4">
        <Image src={Heisei} alt="平成" class="w-260 relative bottom-14 z-0"/>
        <p class="max-w-[380px] text-base leading-relaxed relative bottom-20 left-0 z-10">
          アレルギーや衛生面の観点から包装済みパンの使用が増加し、地域や学校で独自のパンが用意されるケースも増える。
        </p>
      </div>
      <div class="">
        <Image src={Image2000} alt="2000" class="w-100 h-auto relative bottom-10" />
      </div>
      <div class="w-1/4 relative top-10">
        <Image src={HeiseiImage} alt="平成のパン食い競争の風景" class="w-260 relative bottom-10 left-20"/>
      </div>
    </article>
    <article class="flex w-full items-strech justify-center relative">
      <div class="w-1/4 relative top-10">
        <p>
          木村屋總本店と元陸上400mハードルの為末大が出会い、パン食い競走の普及と健全な体力づくりの推進を目的に「パン食い競走協会」を設立。協会ではパンの種類や安全基準の見直し、イベントの全国展開を図る新たな取り組みが始まる。
        </p>
      </div>
      <div class="relative bottom-10">
        <Image src={Image2024} alt="2024" class="w-100 h-auto" />
      </div>
      <div class="w-1/4 relative">
        <Image src={Reiwa} alt="令和" class="w-260 absolute bottom-0 right-0 z-10"/>
      </div>
    </article>
    <article class="flex w-full items-strech justify-center relative mb-100">
      <Image src={Photo} alt="写真" class="w-100 h-auto" />
    </article>
  </div>
