---
import { Image } from "astro:assets";
import { getPastEvents } from "../lib/microcms";
import Title from "./Title.astro";
import { formatDate } from "../lib/utils";
import Carousel from "./Carousel.astro";
const res = await getPastEvents();
---
<div class="flex justify-center w-full">
  <section class="flex flex-col items-center justify-center container">
    <Title subtitle="PAST EVENT" title="開催実績" />
    <!-- <p>{res.contents.map((content:any) => content.title)}</p> -->
    <article class="flex flex-col justify-center">
      {res.contents.map((content: any) => (
        <div class="flex items-start justify-center gap-6 mx-4 my-8">
          <div class="">
           <Image src={content.image.url} alt={content.title} width={320} height={200} />
          </div>
          <div class="flex flex-col w-2/3 gap-4">
            <h1 class="text-2xl font-black">{content.title}</h1>
            <div class="flex justify-start items-center gap-2">
              <p class="font-sans text-xs bg-amber-950 text-white w-fit h-fit p-1">主催</p>
              <p class="text-xl font-bold">{content.sponsored}</p>
            </div>
            <div class="flex justify-start gap-4">
              <div class="flex justify-start items-center gap-2">
                <ion-icon name="calendar-clear-outline"></ion-icon>
                <p class="text-sm">{formatDate(content.date)}</p>
              </div>
              <div class="flex justify-start items-center gap-2">
                <ion-icon name="location-outline"></ion-icon>
                <p class="text-sm">{content.field}</p>
              </div>
            </div>
            <div set:html={content.content} class="text-base "></div>
          </div>
        </div>
      ))}
    </article>
    <article class="py-24">
      <Carousel />
    </article>
  </section>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
